{% extends 'layouts/emp_base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load tz %} 

<head>
  <link rel="stylesheet" type="text/css" href="/static/css/button.css">
  <link rel="stylesheet" type="text/css" href="/static/css/leave.css">
  <link rel="stylesheet" type="text/css" href="/static/css/massege.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row py-4">
      <div id="leave" class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h1 class="text-center">Your Leave</h1>
              <span>|</span>
              {% if bpl > 0 %}
              <span>
                <h3 class="text-center text-success">Balanced Paid Leaves : <b>{{ bpl }}</b></h3>
                <h5 class="text-center text-muted">First HY: 6 & Second HY: 6</h5>
              </span>
              {% else %}
              <h4 class="text-center text-danger">Balanced Paid Leaves : <b>{{ bpl }}</b></h4>
              {% endif %}
              <span>|</span>
              <button type="button" class="btn btn-primary" onclick="leaveForm()">APPLY LEAVE</button>
            </div>
            <div class="card-body p-0 table-responsive" id="tbl-leave" style="height: 430px;">
              <div class="card-body p-0">
                <table class="table table-hover align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Leave Reason</th>
                      <th scope="col">Day</th>
                      <th scope="col">Date</th>
                      <th scope="col">Leave Type</th>
                      <th scope="col">Leave Requested For</th>
                      <th scope="col">Status</th>
                      <th scope="col">Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for leave in page %}
                    <tr>
                      <td id="leavereson">
                        {{leave.leave_reason}}
                      </td>
                      <td>
                        {{leave.leave_days}}
                      </td>
                      <td>
                        {{leave.leave_start_date}}
                      </td>
                      <td>
                        {{leave.leave_type}}
                      </td>
                      {% if leave.leave_requested_for == "F" %}
                      <td>
                        FULL DAY
                      </td>
                      {% elif leave.leave_requested_for == "FH" %}
                      <td>
                        FIRST HALF DAY
                      </td>
                      {% else %}
                      <td>
                        SECOND HALF DAY
                      </td>
                      {% endif %}
                      <td>
                        {{leave.status}}
                      </td>
                      <td>
                        {% if leave.action  %}
                            Action allowed only two days before.
                        {% else %}
                            <!-- Your logic if your_date is later than two_days_ago -->
                            <button class="btn btn-primary" onclick="updateLeave('{{leave.id}}')">Edit</button>  <a href="/delete_leave/{{leave.id}}" class="btn btn-danger">Delete</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <br>
            </div>
            <div class="pagination mr-4" style="float: right;">
              {% if page.has_previous %}
              <a href="?page={{ page.previous_page_number }}">&laquo;</a>
              {% endif %}

              {% for i in page.paginator.page_range %}
              {% if i == page.number %}
              <a href="?page={{ i }}" class="active">{{ i }}</a>
              {% else %}
              <a href="?page={{ i }}">{{ i }}</a>
              {% endif %}
              {% endfor %}

              {% if page.has_next %}
              <a href="?page={{ page.next_page_number }}">&raquo;</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <div id="leaveform" class="col-md-5 leaveform">
        <div class="card">
          <div class="card-body">
            <form method="POST" action="/leave/">
              <div class="container">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h1 class="text-center"> Leave Form</h1>
                  <button type="button" class="btn btn-primary" onclick="showForm()">Show Leave</button>
                </div>
                {% csrf_token %}
                <div class="form-group">
                  <label for="bank_name" class="form-label">Leave reason:</label>
                  <!-- <div class="col-sm-10"> -->
                    <textarea type="text" class="form-control" required id="leave_reason"
                      name="leave_reason"></textarea>
                  <!-- </div> -->
                </div>
                <div class="form-group">
                  <label for="bank_name" class="form-label">Leave Days:</label>
                  <!-- <div class="col-sm-10"> -->
                    <input type="number" class="form-control" id="leave_days" name="leave_days" required>
                  <!-- </div> -->
                </div>
                <div class="form-group">
                  <label for="bank_name" class="form-label">Leave Start Date:</label>
                  <!-- <div class="col-sm-10"> -->
                    <input type="date" class="form-control" min="{{date}}" onchange="showTeam()" id="leave_start_date"
                      name="leave_start_date" required>
                  <!-- </div> -->
                </div>
                <div style="display: none;" id="team1" >
                <div class="d-flex justify-content-between align-items-center mt--3 pb-3">
                  <!-- <div class="col-md-2"> -->
                    <label for="bank_name" class="form-label"></label>
                  <!-- </div> -->
                    <!-- <div class="col-md-10"> -->

                      <div class="avatar-group d-flex py-2" style="align-items:center;" id="team2">

                      </div>
                    <!-- </div> -->
                </div>
              </div>
                <div class="form-group">
                  <label for="bank_name" class="form-label">Leave Requested For:</label>
                  <!-- <div class="col-sm-10"> -->
                    <select name="leave_requested_for" class="form-control" required="" id="id_leave_for">
                      <option value="" selected="">---------</option>
                      <option value="F">Full Day</option>
                      <option value="FH">First Half</option>
                      <option value="SH">Second Half</option>
                    </select>
                  <!-- </div> -->
                </div>
                <div class="form-group">
                  <label for="bank_name" class="form-label">Leave type:</label>
                  <!-- <div class="col-sm-10"> -->
                    <select name="leave_type" class="form-control" required="" id="id_leave_type">
                      <option value="" selected="">---------</option>
                      <option value="PAID">PAID</option>
                      <option value="UNPAID">UNPAID</option>
                    </select>
                  <!-- </div> -->
                </div>
                <div class="d-flex justify-content-center mt-5">
                  <button type="submit" class="btn btn-primary" style="width: 20%">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div id="updateleaveform" class="col-md-5 leaveform">
        <div class="card">
          <div class="card-body">
            <form method="POST" action="/leave/">
              <input type="hidden" id="update_leave_id" name="leave_id" value="">
              <div class="container">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h1 class="text-center"> Update Leave Form</h1>
                  <button type="button" class="btn btn-primary" onclick="showForm()">Show Leave</button>
                </div>
                {% csrf_token %}
                <div class="form-group">
                  <label for="bank_name" class="form-label">Leave reason:</label>
                  <!-- <div class="col-sm-10"> -->
                    <textarea type="text" class="form-control" required id="update_leave_reason"
                      name="leave_reason" value=""></textarea>
                  <!-- </div> -->
                </div>
                <div class="form-group">
                  <label for="bank_name" class="form-label">Leave Days:</label>
                  <!-- <div class="col-sm-10"> -->
                    <input type="number" class="form-control" id="update_leave_days" name="leave_days" required value="">
                  <!-- </div> -->
                </div>
                <div class="form-group">
                  <label for="bank_name" class="form-label">Leave Start Date:</label>
                  <!-- <div class="col-sm-10"> -->
                    <input type="date" class="form-control" min="{{date}}" onchange="showTeam('update')" id="update_leave_start_date"
                      name="leave_start_date" required value="">
                  <!-- </div> -->
                </div>
                <div style="display: none;" id="team1" >
                <div class="d-flex justify-content-between align-items-center mt--3 pb-3">
                  <!-- <div class="col-md-2"> -->
                    <label for="bank_name" class="form-label"></label>
                  <!-- </div> -->
                    <!-- <div class="col-md-10"> -->

                      <div class="avatar-group d-flex py-2" style="align-items:center;" id="update_team">

                      </div>
                    <!-- </div> -->
                </div>
              </div>
                <div class="form-group">
                  <label for="bank_name" class="form-label">Leave Requested For:</label>
                  <!-- <div class="col-sm-10"> -->
                    <select name="leave_requested_for" class="form-control" required="" id="update_id_leave_for">
                      <option value="" selected="">---------</option>
                      <option value="F">Full Day</option>
                      <option value="FH">First Half</option>
                      <option value="SH">Second Half</option>
                    </select>
                  <!-- </div> -->
                </div>
                <div class="form-group">
                  <label for="bank_name" class="form-label">Leave type:</label>
                  <!-- <div class="col-sm-10"> -->
                    <select name="leave_type" class="form-control" required="" id="update_id_leave_type">
                      <option value="" selected="">---------</option>
                      <option value="PAID">PAID</option>
                      <option value="UNPAID">UNPAID</option>
                    </select>
                  <!-- </div> -->
                </div>
                <div class="d-flex justify-content-center mt-5">
                  <button type="submit" class="btn btn-primary" style="width: 20%">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

       <div class="col-md-12 p-2" id="cal12">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center pb-3">
            <h1>Shared Leave Calendar</h1>
            <span><b class="bg-success text-white rounded-circle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b> On leave</span>
          </div>
          <div class="card-body p-2" id="leave_card">
            <input type="hidden" id="start_week" value="{{ current_week_start }}">
            <table class="table table-hover align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" style="font-size: 12px; color:black"><button onclick="week('prev')" class="btn-sm btn-primary"><i class="ni ni-bold-left text-white"></i></button> &nbsp; {{ prev_date }} - {{ next_date }} &nbsp; <button onclick="week('next')" class="btn-sm btn-primary"><i class="ni ni-bold-right text-white"></i></button></th>
                  <th scope="col" style="font-size: 12px; color:black">Mo</th>
                  <th scope="col" style="font-size: 12px; color:black">Tu</th>
                  <th scope="col" style="font-size: 12px; color:black">We</th>
                  <th scope="col" style="font-size: 12px; color:black">Th</th>
                  <th scope="col" style="font-size: 12px; color:black">Fr</th>
                  <th scope="col" style="font-size: 12px; color:black">Sa</th>
                  <th scope="col" style="font-size: 12px; color:black">Su</th>
                </tr>
              </thead>
              <tbody>
              {% for emp in emp_leave_list %}
              <tr>
                <td><img alt="Image placeholder" src="/{{ emp.image }}" class="avatar-sm rounded-circle">&nbsp;&nbsp; {{ emp.name }}</td>
                {% for day in current_week_days %}
                {% if day.day in emp.leave_list %}
                <td><b class="bg-success text-white p-3 rounded-circle">{{ day.day }}</b></td>
                {% else %}
                <td>{{ day.day }}</td>
                {% endif %}
                {% endfor %}
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
<script>
  function updateLeave(id) {
    console.log("Leave ID: ", id)
    
    $.ajax({
				url: "/get_leave_info/",
				type: "get",
				headers: {
					'Content-Type': 'application/json'
				},
				data: { 'id': id },
				success: function (response) {
          console.log('Line 306')
          console.log("Response: ", response)
					if (response['status'] === 'success') {
            document.getElementById("update_leave_id").value = response['get_leave_info']['leave_id'];
            document.getElementById("update_leave_reason").value = response['get_leave_info']['leave_reason'];
            document.getElementById("update_leave_days").value = response['get_leave_info']['leave_days'];
            document.getElementById("update_leave_start_date").value = response['get_leave_info']['leave_start_date'];
            document.getElementById("update_id_leave_for").value = response['get_leave_info']['leave_requested_for'];
            document.getElementById("update_id_leave_type").value = response['get_leave_info']['leave_type'];
					}
				}
			});
    document.getElementById("leave").style.display = "none";
    document.getElementById("leaveform").style.display = "none";
    document.getElementById("updateleaveform").style.display = "block";
    document.getElementById("cal12").classList.replace("col-md-12", "col-md-7");
  }
  function showTeam(type) {
    console.log("Type: ", type)
    if (type == 'update') {
      console.log("Line 326")
      var leave_days = document.getElementById("update_leave_days").value;
      var start_date = document.getElementById("update_leave_start_date").value;
      var team_2 = document.getElementById("update_team")
    } else {
      var leave_days = document.getElementById("leave_days").value;
      var start_date = document.getElementById("leave_start_date").value;
      var team_2 = document.getElementById("team2")
    }
    
    if (leave_days) {
      leave_days = leave_days;
    } else {
      leave_days = 1
    }
    console.log("leave days: " + leave_days)
    console.log("Start date: " + start_date)
    $.ajax({
      url: "/leave" + '/' + leave_days + '/' + start_date + '/' + '?q=ajax',
      type: "get",
      success: function (response) {
        console.log(response)
        if (response['employees'] !== 'Not found') {
          console.log(response.employees[0].name)
          $("#team2").empty();
          response.employees.forEach(function (item) {
            var name = item.name;
            var image = item.image;
            $("#team2").append(`<a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" title="${name}">
                              <img alt="Image placeholder" src="/${image}">
                              </a>`)
          });
          $("#team2").append(`<span class="ml-2 text-muted" style="display: inline-block;"> ${response.employees.length} teammates on leave during this period</span>`);
          $("#team1").css('display', 'block')
        } else {
          $("#team2").empty();
          $("#team1").css('display', 'none')
          console.log(response['employees'])
        }
      },
      error: function (xhr) {
        alert("request fail");
      }
    });
  }
  function week(type) {
    var current_week_start = document.getElementById("start_week").value
    console.log(current_week_start)
    console.log(type)
    $.ajax({
      url: "/week" + '/' + current_week_start + '/' + '?q='+type,
      type: "get",
      success: function (response) {
        console.log(response['current_week_days'])
        console.log(response['current_week_start'])
        var mystr = `<input type="hidden" id="start_week" value="${response['current_week_start']}">
            <table class="table table-hover align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" style="font-size: 12px; color:black"><button onclick="week('prev')" class="btn-sm btn-primary"><i class="ni ni-bold-left text-white"></i></button> &nbsp; ${response['prev_date']} - ${response['next_date']} &nbsp; <button onclick="week('next')" class="btn-sm btn-primary"><i class="ni ni-bold-right text-white"></i></button></th>
                  <th scope="col" style="font-size: 12px; color:black">Mo</th>
                  <th scope="col" style="font-size: 12px; color:black">Tu</th>
                  <th scope="col" style="font-size: 12px; color:black">We</th>
                  <th scope="col" style="font-size: 12px; color:black">Th</th>
                  <th scope="col" style="font-size: 12px; color:black">Fr</th>
                  <th scope="col" style="font-size: 12px; color:black">Sa</th>
                  <th scope="col" style="font-size: 12px; color:black">Su</th>
                </tr>
              </thead>
              <tbody>`
        for (var i = 0; i < response['emp_leave_list'].length; i++) {
          mystr+= `<tr>
                <td><img alt="Image placeholder" src="/${response['emp_leave_list'][i]['image']}" class="avatar-sm rounded-circle">&nbsp;&nbsp; ${response['emp_leave_list'][i]['name']}</td>`
                for (var j = 0; j < response['current_week_days'].length; j++) {
                  if (response['emp_leave_list'][i]['leave_list'].includes(response['current_week_days'][j])) {
                    mystr += `<td><b class="bg-success text-white p-3 rounded-circle">${response['current_week_days'][j] }</b></td>`
                  } else {
                    mystr += `<td>${response['current_week_days'][j] }</td>`
                  }
                }
          mystr += `</tr>`

        }
        mystr += `</tbody>
            </table>`
      $('#leave_card').empty()
      $('#leave_card').append(mystr)
      }
      })
  }
  // function updateleave(id) {
  //   document.getElementById("leave").style.display = "none";
  //   document.getElementById("leaveform").style.display = "none";
  //   document.getElementById("updateleaveform").style.display = "block";
  //   document.getElementById("cal12").classList.replace("col-md-12", "col-md-7");
  // }

  function leaveForm() {
    document.getElementById("leave").style.display = "none";
    document.getElementById("leaveform").style.display = "block";
    document.getElementById("cal12").classList.replace("col-md-12", "col-md-7");
  }
  function showForm() {
    document.getElementById("cal12").classList.replace("col-md-7", "col-md-12");
    document.getElementById("leave").style.display = "block";
    document.getElementById("leaveform").style.display = "none";
  }
  document.getElementById("leave11").classList.replace("side-nav", "active-side-nav");
  document.getElementById("leave12").style.display = "block";
  document.getElementById("leave22").classList.replace("header-nav", "active-nav");

  $(document).ready(function () {
    const myDiv = $('#tbl-leave');

    if (myDiv.height() > 410) {
      myDiv.addClass('overflow: hidden; overflow-y: scroll;');
    } else {
    }
  });
</script>

{% endblock %}