
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-7 mr-2 mb-2">
            <div class="text-center text-xl-right text-muted">
              <a href="http://www.triodec.com"
                 class="font-weight-bold ml-1" target="_blank" > &copy; Triodec Solutions</a> 
                 - Manage by <a target="_blank" href="http://www.triodec.com">Triodec</a>
            </div>
          </div>
        </div>
      </footer>


      